/* Hues styles */
.Hues {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.12rem;
}

/*@media (min-width: 1171px) {
  .Hues {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .Hues {
    width: inherit;
    margin: none;
  }
}*/

@media (min-width: 1895px) {
  .Hues {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 2330px) {
  .Hues {
    width: 76%;
    margin: 0 auto;
  }
}

@media (min-width: 3770px) {
  .Hues {
    width: 62%;
    margin: 0 auto;
  }
}